@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

body {
	font-family: "Plus Jakarta Sans", sans-serif;
	background-color: #f9fafb;
}

@theme {
	--primary: var(--color-blue-600);
	--color-primary: var(--color-blue-600);
	--primary-hovered: var(--color-blue-700);
	--secondary: var(--color-gray-300);
	--secondary-hover: var(--color-gray-400);
	--danger: var(--color-red-500);
	--danger-hover: var(--color-red-700);

	--table-scrollbar-width: 7px;
	--table-scrollbar-height: 7px;
	--table-scrollbar-track-color: #cdcdcd;
	--table-scrollbar-thumb-color: #7d7d7d;

	--animate-fade-in-scale: fade-in-scale 0.1s ease-out;

	@keyframes fade-in-scale {
		0% {
			opacity: 0;
			transform: translate(-10px, -10px) scale(0.9);
		}

		100% {
			opacity: 1;
			transform: translate(0, 0) scale(1);
		}
	}
}

@layer utilities {
	.hover-interact-subtle {
		@apply transition-transform duration-200 ease-in-out hover:scale-110 text-gray-700! hover:bg-gray-100 px-2 py-1;
	}

	.hover-interact-slide-up {
		@apply hover:translate-y-[-2px] hover:font-semibold hover:bg-gray-100 transition-transform duration-150 ease-in-out;
	}
}

@layer components {

	.btn-primary {
		@apply bg-blue-600 text-white text-sm font-semibold rounded-md py-2 px-3 flex items-center justify-center gap-1 hover:bg-blue-700 hover:cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed;
	}

	.btn-text-primary {
		@apply text-blue-600 hover:text-blue-700 font-medium inline-flex items-center gap-1;
		/* Assuming --primary maps to blue-600 */
	}

	.btn-secondary {
		@apply bg-gray-300 text-gray-700 text-sm font-semibold inline-flex items-center gap-1 rounded-md py-2 px-3 shadow-sm hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-offset-2;
	}

	.btn-white {
		@apply bg-white text-gray-700 font-semibold rounded-md py-2 px-4 shadow-sm border border-gray-300 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-offset-2;
	}

	.btn-no-border {
		@apply font-semibold py-2 px-4 focus:outline-none;
	}

	.btn-danger {
		@apply bg-red-500 text-sm text-white font-semibold rounded-md py-2 px-3 shadow-md hover:bg-red-700;
	}


	.OutletTitle {
		@apply text-2xl font-bold;
	}

	.AttendanceScrollContainer::-webkit-scrollbar,
	.MarksheetScrollContainer::-webkit-scrollbar {
		width: var(--table-scrollbar-width);
		height: var(--table-scrollbar-height);
	}

	.AttendanceScrollContainer::-webkit-scrollbar-track,
	.MarksheetScrollContainer::-webkit-scrollbar-track {
		background: var(--table-scrollbar-track-color);
		border-radius: 4px;
	}

	.AttendanceScrollContainer::-webkit-scrollbar-thumb,
	.MarksheetScrollContainer::-webkit-scrollbar-thumb {
		background: var(--table-scrollbar-thumb-color);
		border-radius: 4px;
	}

	.customTable::-webkit-scrollbar {
		width: var(--table-scrollbar-width);
		height: var(--table-scrollbar-height);
	}

	.customTable::-webkit-scrollbar-track {
		background: var(--table-scrollbar-track-color);
		border-radius: 4px;
	}

	.customTable::-webkit-scrollbar-thumb {
		background: var(--table-scrollbar-thumb-color);
		border-radius: 4px;
	}

	.customTable::-webkit-scrollbar-button {
		height: 0px;
		width: 4px;
		display: block;
	}
}